# Copy this file and rename it to `.env`
# Fill in your own database credentials

DB_HOST=db
DB_NAME=your_database_name
DB_USER=your_username
DB_PASS=your_password
AIRFLOW_USERNAME=your_airflow_username
AIRFLOW_PASSWORD=your_airflow_password
